.container{
    width: 390px;
    height: auto;
    margin: auto;
}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header_search{
    width: 120px;
    margin-right: 10px;
}
.header_logo-p{
    font-size: 18px;
}
.images{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.jeners{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
footer{
    width: 390px;
    height: 120px;
}
main{
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
